In [3]:
import pandas as pd
import os

### Main Exp Table

In [100]:
aug_types = [(0, 0.0), (2, 2.0), (4, 2.0), (5, 2.0), (6, 2.0), (7, 2.0), (10, 2.0), (1, 0.1), (1, 0.2)]
index_names = ['Single', 'Single+Concat (2x)', 'Single+ConcatRel (2x)', 'w/ Anaphora', 'w/ Ellipsis', 'w/ Mixed', 'w/ ChatGPT', '90%Single+10%Multi', '80%Single+20%Multi']
column_names = ['Multi JGA', 'Multi TA', 'Multi CDTA', 'Cross JGA', 'Single JGA']
datasets = ['multiwoz21', 'sgd/group0', 'sgd/group1', 'sgd/group2']

In [101]:
main_exp_table = pd.DataFrame(index=index_names, columns=pd.MultiIndex.from_product([datasets[:2], column_names]))
main_exp_table

                      multiwoz21                                           \
                       Multi JGA Multi TA Multi CDTA Cross JGA Single JGA
Single                       NaN      NaN        NaN       NaN        NaN
Single+Concat (2x)           NaN      NaN        NaN       NaN        NaN
Single+ConcatRel (2x)        NaN      NaN        NaN       NaN        NaN
w/ Anaphora                  NaN      NaN        NaN       NaN        NaN
w/ Ellipsis                  NaN      NaN        NaN       NaN        NaN
w/ Mixed                     NaN      NaN        NaN       NaN        NaN
w/ ChatGPT                   NaN      NaN        NaN       NaN        NaN
90%Single+10%Multi           NaN      NaN        NaN       NaN        NaN
80%Single+20%Multi           NaN      NaN        NaN       NaN        NaN

                      sgd/group0
                       Multi JGA Multi TA Multi CDTA Cross JGA Single JGA
Single                       NaN      NaN        NaN       NaN        NaN
Single+Concat (2x)           NaN      NaN        NaN       NaN        NaN
Single+ConcatRel (2x)        NaN      NaN        NaN       NaN        NaN
w/ Anaphora                  NaN      NaN        NaN       NaN        NaN
w/ Ellipsis                  NaN      NaN        NaN       NaN        NaN
w/ Mixed                     NaN      NaN        NaN       NaN        NaN
w/ ChatGPT                   NaN      NaN        NaN       NaN        NaN
90%Single+10%Multi           NaN      NaN        NaN       NaN        NaN
80%Single+20%Multi           NaN      NaN        NaN       NaN        NaN

In [102]:
table = main_exp_table
for i, (aug_type, aug_times) in enumerate(aug_types):
    index_name = index_names[i]
    for dataset in datasets[:2]:
        res_dir = f'output/{dataset}/t5-large_model0_context100_aug{aug_type}_x{aug_times}'
        
        res_file = f'{res_dir}/test_multi_domain_result.md'
        df = pd.read_table(res_file, sep='|', index_col=1).dropna(axis=1, how='all').iloc[1:]
        df = df.apply(lambda x: x.str.strip())
        df = df.rename(columns=str.strip).rename(index=str.strip)
        table.loc[index_name, (dataset, 'Multi JGA')] = df.loc['all', 'JGA']
        table.loc[index_name, (dataset, 'Multi TA')] = df.loc['all', 'TA']
        table.loc[index_name, (dataset, 'Multi CDTA')] = df.loc['all', 'CDTA']
        table.loc[index_name, (dataset, 'Cross JGA')] = df.loc['cross-domain', 'JGA']

        res_file = f'{res_dir}/test_single_domain_result.md'
        df = pd.read_table(res_file, sep='|', index_col=1).dropna(axis=1, how='all').iloc[1:]
        df = df.apply(lambda x: x.str.strip())
        df = df.rename(columns=str.strip).rename(index=str.strip)
        table.loc[index_name, (dataset, 'Single JGA')] = df.loc['all', 'JGA']
main_exp_table = main_exp_table.applymap(lambda x: round(pd.to_numeric(x, errors='coerce') * 100, 1))

In [103]:
main_exp_table

                      multiwoz21                                           \
                       Multi JGA Multi TA Multi CDTA Cross JGA Single JGA
Single                      28.4     49.9        0.9      24.7       65.7
Single+Concat (2x)          44.2     66.6        9.1      32.7       64.2
Single+ConcatRel (2x)       43.2     65.4       21.2      33.6       66.2
w/ Anaphora                 42.0     63.9       24.0      32.9       66.7
w/ Ellipsis                 42.9     64.5       20.3      33.2       66.2
w/ Mixed                    42.6     64.1       25.3      34.1       65.5
w/ ChatGPT                  43.1     64.9       25.0      33.4       67.7
90%Single+10%Multi          41.9     63.6       20.8      31.9       64.9
80%Single+20%Multi          44.2     66.8       35.2      35.8       67.1

                      sgd/group0
                       Multi JGA Multi TA Multi CDTA Cross JGA Single JGA
Single                      34.3     62.4        1.9      34.7       88.9
Single+Concat (2x)          46.3     69.8        1.8      45.0       89.2
Single+ConcatRel (2x)       47.3     71.3        2.1      46.8       87.9
w/ Anaphora                 51.7     74.1       23.5      52.5       90.1
w/ Ellipsis                 50.9     73.4       12.9      51.8       88.1
w/ Mixed                    50.2     73.7       16.1      50.5       88.9
w/ ChatGPT                  51.3     74.3       26.7      52.4       88.1
90%Single+10%Multi          59.2     76.8       53.1      61.3       92.1
80%Single+20%Multi          65.9     82.9       64.5      67.2       89.8

In [104]:
print(main_exp_table.to_latex())

\begin{tabular}{lrrrrrrrrrr}
\toprule
{} & \multicolumn{5}{l}{multiwoz21} & \multicolumn{5}{l}{sgd/group0} \\
{} &  Multi JGA & Multi TA & Multi CDTA & Cross JGA & Single JGA &  Multi JGA & Multi TA & Multi CDTA & Cross JGA & Single JGA \\
\midrule
Single                &       28.4 &     49.9 &        0.9 &      24.7 &       65.7 &       34.3 &     62.4 &        1.9 &      34.7 &       88.9 \\
Single+Concat (2x)    &       44.2 &     66.6 &        9.1 &      32.7 &       64.2 &       46.3 &     69.8 &        1.8 &      45.0 &       89.2 \\
Single+ConcatRel (2x) &       43.2 &     65.4 &       21.2 &      33.6 &       66.2 &       47.3 &     71.3 &        2.1 &      46.8 &       87.9 \\
w/ Anaphora           &       42.0 &     63.9 &       24.0 &      32.9 &       66.7 &       51.7 &     74.1 &       23.5 &      52.5 &       90.1 \\
w/ Ellipsis           &       42.9 &     64.5 &       20.3 &      33.2 &       66.2 &       50.9 &     73.4 &       12.9 &      51.8 &       88.1 \\
w/ Mixed              &       42.6 &     64.1 &       25.3 &      34.1 &       65.5 &       50.2 &     73.7 &       16.1 &      50.5 &       88.9 \\
w/ ChatGPT            &       43.1 &     64.9 &       25.0 &      33.4 &       67.7 &       51.3 &     74.3 &       26.7 &      52.4 &       88.1 \\
90\%Single+10\%Multi    &       41.9 &     63.6 &       20.8 &      31.9 &       64.9 &       59.2 &     76.8 &       53.1 &      61.3 &       92.1 \\
80\%Single+20\%Multi    &       44.2 &     66.8 &       35.2 &      35.8 &       67.1 &       65.9 &     82.9 &       64.5 &      67.2 &       89.8 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_88698/1754652341.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(main_exp_table.to_latex())

### Turn-level DST

In [105]:
turn_exp_table = pd.DataFrame(index=index_names, columns=pd.MultiIndex.from_product([datasets[:2], column_names]))
turn_exp_table

                      multiwoz21                                           \
                       Multi JGA Multi TA Multi CDTA Cross JGA Single JGA
Single                       NaN      NaN        NaN       NaN        NaN
Single+Concat (2x)           NaN      NaN        NaN       NaN        NaN
Single+ConcatRel (2x)        NaN      NaN        NaN       NaN        NaN
w/ Anaphora                  NaN      NaN        NaN       NaN        NaN
w/ Ellipsis                  NaN      NaN        NaN       NaN        NaN
w/ Mixed                     NaN      NaN        NaN       NaN        NaN
w/ ChatGPT                   NaN      NaN        NaN       NaN        NaN
90%Single+10%Multi           NaN      NaN        NaN       NaN        NaN
80%Single+20%Multi           NaN      NaN        NaN       NaN        NaN

                      sgd/group0
                       Multi JGA Multi TA Multi CDTA Cross JGA Single JGA
Single                       NaN      NaN        NaN       NaN        NaN
Single+Concat (2x)           NaN      NaN        NaN       NaN        NaN
Single+ConcatRel (2x)        NaN      NaN        NaN       NaN        NaN
w/ Anaphora                  NaN      NaN        NaN       NaN        NaN
w/ Ellipsis                  NaN      NaN        NaN       NaN        NaN
w/ Mixed                     NaN      NaN        NaN       NaN        NaN
w/ ChatGPT                   NaN      NaN        NaN       NaN        NaN
90%Single+10%Multi           NaN      NaN        NaN       NaN        NaN
80%Single+20%Multi           NaN      NaN        NaN       NaN        NaN

In [106]:
table = turn_exp_table
for i, (aug_type, aug_times) in enumerate(aug_types):
    index_name = index_names[i]
    for dataset in datasets[:2]:
        res_dir = f'output/{dataset}/t5-large_model1_context4_aug{aug_type}_x{aug_times}'

        res_file = f'{res_dir}/test_multi_domain_result.md'
        df = pd.read_table(res_file, sep='|', index_col=1).dropna(axis=1, how='all').iloc[1:]
        df = df.apply(lambda x: x.str.strip())
        df = df.rename(columns=str.strip).rename(index=str.strip)
        table.loc[index_name, (dataset, 'Multi JGA')] = df.loc['all', 'JGA']
        table.loc[index_name, (dataset, 'Multi TA')] = df.loc['all', 'TA']
        table.loc[index_name, (dataset, 'Multi CDTA')] = df.loc['all', 'CDTA']
        table.loc[index_name, (dataset, 'Cross JGA')] = df.loc['cross-domain', 'JGA']

        res_file = f'{res_dir}/test_single_domain_result.md'
        df = pd.read_table(res_file, sep='|', index_col=1).dropna(axis=1, how='all').iloc[1:]
        df = df.apply(lambda x: x.str.strip())
        df = df.rename(columns=str.strip).rename(index=str.strip)
        table.loc[index_name, (dataset, 'Single JGA')] = df.loc['all', 'JGA']
turn_exp_table = turn_exp_table.applymap(lambda x: round(pd.to_numeric(x, errors='coerce') * 100, 1))

In [107]:
turn_exp_table

                      multiwoz21                                           \
                       Multi JGA Multi TA Multi CDTA Cross JGA Single JGA
Single                      27.7     59.7        1.1      23.8       63.8
Single+Concat (2x)          39.5     74.1        5.6      28.9       63.6
Single+ConcatRel (2x)       39.1     73.9       19.9      29.5       63.0
w/ Anaphora                 37.5     71.9       24.9      29.3       63.3
w/ Ellipsis                 37.5     72.1       15.1      28.6       64.1
w/ Mixed                    38.5     73.1       25.5      30.8       61.0
w/ ChatGPT                  39.1     73.9       29.1      30.9       62.6
90%Single+10%Multi          41.1     74.1       25.0      31.8       62.8
80%Single+20%Multi          42.0     75.1       35.0      33.0       62.2

                      sgd/group0
                       Multi JGA Multi TA Multi CDTA Cross JGA Single JGA
Single                      33.0     67.6        0.8      33.4       83.1
Single+Concat (2x)          36.3     78.3        1.3      35.2       83.3
Single+ConcatRel (2x)       35.2     77.9        1.2      34.0       79.5
w/ Anaphora                 38.3     78.6       15.5      38.2       81.6
w/ Ellipsis                 35.7     76.5        3.5      35.4       82.0
w/ Mixed                    37.9     78.8       13.5      38.1       82.1
w/ ChatGPT                  39.8     78.8       19.5      40.7       81.5
90%Single+10%Multi          47.9     84.8       37.8      48.6       85.6
80%Single+20%Multi          54.7     87.9       56.3      56.0       81.6

In [108]:
print(turn_exp_table.to_latex())

\begin{tabular}{lrrrrrrrrrr}
\toprule
{} & \multicolumn{5}{l}{multiwoz21} & \multicolumn{5}{l}{sgd/group0} \\
{} &  Multi JGA & Multi TA & Multi CDTA & Cross JGA & Single JGA &  Multi JGA & Multi TA & Multi CDTA & Cross JGA & Single JGA \\
\midrule
Single                &       27.7 &     59.7 &        1.1 &      23.8 &       63.8 &       33.0 &     67.6 &        0.8 &      33.4 &       83.1 \\
Single+Concat (2x)    &       39.5 &     74.1 &        5.6 &      28.9 &       63.6 &       36.3 &     78.3 &        1.3 &      35.2 &       83.3 \\
Single+ConcatRel (2x) &       39.1 &     73.9 &       19.9 &      29.5 &       63.0 &       35.2 &     77.9 &        1.2 &      34.0 &       79.5 \\
w/ Anaphora           &       37.5 &     71.9 &       24.9 &      29.3 &       63.3 &       38.3 &     78.6 &       15.5 &      38.2 &       81.6 \\
w/ Ellipsis           &       37.5 &     72.1 &       15.1 &      28.6 &       64.1 &       35.7 &     76.5 &        3.5 &      35.4 &       82.0 \\
w/ Mixed              &       38.5 &     73.1 &       25.5 &      30.8 &       61.0 &       37.9 &     78.8 &       13.5 &      38.1 &       82.1 \\
w/ ChatGPT            &       39.1 &     73.9 &       29.1 &      30.9 &       62.6 &       39.8 &     78.8 &       19.5 &      40.7 &       81.5 \\
90\%Single+10\%Multi    &       41.1 &     74.1 &       25.0 &      31.8 &       62.8 &       47.9 &     84.8 &       37.8 &      48.6 &       85.6 \\
80\%Single+20\%Multi    &       42.0 &     75.1 &       35.0 &      33.0 &       62.2 &       54.7 &     87.9 &       56.3 &      56.0 &       81.6 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_88698/4272196636.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(turn_exp_table.to_latex())

### CoQR

In [109]:
coqr_test_table = pd.DataFrame(index=pd.MultiIndex.from_product([['dialog', 'turn'], ['Single+Concat (2x)', 'w/ CANARD', 'w/ CANARD+MIX', 'w/ ChatGPT']]), columns=pd.MultiIndex.from_product([datasets[:2], column_names]))
coqr_test_table

                          multiwoz21                                           \
                           Multi JGA Multi TA Multi CDTA Cross JGA Single JGA
dialog Single+Concat (2x)        NaN      NaN        NaN       NaN        NaN
       w/ CANARD                 NaN      NaN        NaN       NaN        NaN
       w/ CANARD+MIX             NaN      NaN        NaN       NaN        NaN
       w/ ChatGPT                NaN      NaN        NaN       NaN        NaN
turn   Single+Concat (2x)        NaN      NaN        NaN       NaN        NaN
       w/ CANARD                 NaN      NaN        NaN       NaN        NaN
       w/ CANARD+MIX             NaN      NaN        NaN       NaN        NaN
       w/ ChatGPT                NaN      NaN        NaN       NaN        NaN

                          sgd/group0
                           Multi JGA Multi TA Multi CDTA Cross JGA Single JGA
dialog Single+Concat (2x)        NaN      NaN        NaN       NaN        NaN
       w/ CANARD                 NaN      NaN        NaN       NaN        NaN
       w/ CANARD+MIX             NaN      NaN        NaN       NaN        NaN
       w/ ChatGPT                NaN      NaN        NaN       NaN        NaN
turn   Single+Concat (2x)        NaN      NaN        NaN       NaN        NaN
       w/ CANARD                 NaN      NaN        NaN       NaN        NaN
       w/ CANARD+MIX             NaN      NaN        NaN       NaN        NaN
       w/ ChatGPT                NaN      NaN        NaN       NaN        NaN

In [110]:
table = coqr_test_table
for dataset in datasets[:2]:
    for j in range(2):
        if j == 0:
            res_dir = f'output/{dataset}/t5-large_model0_context100_aug2_x2.0'
        else:
            res_dir = f'output/{dataset}/t5-large_model1_context4_aug2_x2.0'

        for i, suffix in enumerate(['', '_coqr_canard', '_coqr_canard_mix_x2.0', '_coqr_chatgpt']):
            index_name = coqr_test_table.index[j*4+i]
            res_file = f'{res_dir}/test_multi_domain{suffix}_result.md'
            df = pd.read_table(res_file, sep='|', index_col=1).dropna(axis=1, how='all').iloc[1:]
            df = df.apply(lambda x: x.str.strip())
            df = df.rename(columns=str.strip).rename(index=str.strip)
            table.loc[index_name, (dataset, 'Multi JGA')] = df.loc['all', 'JGA']
            table.loc[index_name, (dataset, 'Multi TA')] = df.loc['all', 'TA']
            table.loc[index_name, (dataset, 'Multi CDTA')] = df.loc['all', 'CDTA']
            table.loc[index_name, (dataset, 'Cross JGA')] = df.loc['cross-domain', 'JGA']

            res_file = f'{res_dir}/test_single_domain{suffix}_result.md'
            df = pd.read_table(res_file, sep='|', index_col=1).dropna(axis=1, how='all').iloc[1:]
            df = df.apply(lambda x: x.str.strip())
            df = df.rename(columns=str.strip).rename(index=str.strip)
            table.loc[index_name, (dataset, 'Single JGA')] = df.loc['all', 'JGA']
coqr_test_table = coqr_test_table.applymap(lambda x: round(pd.to_numeric(x, errors='coerce') * 100, 1))

In [111]:
coqr_test_table

                          multiwoz21                                           \
                           Multi JGA Multi TA Multi CDTA Cross JGA Single JGA
dialog Single+Concat (2x)       44.2     66.6        9.1      32.7       64.2
       w/ CANARD                38.4     61.4        8.4      29.8       61.3
       w/ CANARD+MIX            44.0     66.4       16.5      33.8       64.1
       w/ ChatGPT               40.3     62.8       16.5      30.6       62.1
turn   Single+Concat (2x)       39.5     74.1        5.6      28.9       63.6
       w/ CANARD                34.5     70.3        6.2      26.6       59.2
       w/ CANARD+MIX            39.4     73.7       16.6      30.0       63.4
       w/ ChatGPT               36.3     70.6       17.0      27.4       61.1

                          sgd/group0
                           Multi JGA Multi TA Multi CDTA Cross JGA Single JGA
dialog Single+Concat (2x)       46.3     69.8        1.8      45.0       89.2
       w/ CANARD                36.2     60.9       11.3      35.9       74.8
       w/ CANARD+MIX            48.9     71.6       18.1      48.5       88.8
       w/ ChatGPT               40.3     65.9       21.9      39.9       73.5
turn   Single+Concat (2x)       36.3     78.3        1.3      35.2       83.3
       w/ CANARD                30.0     71.0       13.7      30.4       64.6
       w/ CANARD+MIX            39.5     78.7       18.1      39.5       82.2
       w/ ChatGPT               32.3     72.7       22.7      32.1       66.2

In [112]:
print(coqr_test_table.loc['dialog'].to_latex())

\begin{tabular}{lrrrrrrrrrr}
\toprule
{} & \multicolumn{5}{l}{multiwoz21} & \multicolumn{5}{l}{sgd/group0} \\
{} &  Multi JGA & Multi TA & Multi CDTA & Cross JGA & Single JGA &  Multi JGA & Multi TA & Multi CDTA & Cross JGA & Single JGA \\
\midrule
Single+Concat (2x) &       44.2 &     66.6 &        9.1 &      32.7 &       64.2 &       46.3 &     69.8 &        1.8 &      45.0 &       89.2 \\
w/ CANARD          &       38.4 &     61.4 &        8.4 &      29.8 &       61.3 &       36.2 &     60.9 &       11.3 &      35.9 &       74.8 \\
w/ CANARD+MIX      &       44.0 &     66.4 &       16.5 &      33.8 &       64.1 &       48.9 &     71.6 &       18.1 &      48.5 &       88.8 \\
w/ ChatGPT         &       40.3 &     62.8 &       16.5 &      30.6 &       62.1 &       40.3 &     65.9 &       21.9 &      39.9 &       73.5 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_88698/4289893829.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(coqr_test_table.loc['dialog'].to_latex())

In [113]:
print(coqr_test_table.loc['turn'].to_latex())

\begin{tabular}{lrrrrrrrrrr}
\toprule
{} & \multicolumn{5}{l}{multiwoz21} & \multicolumn{5}{l}{sgd/group0} \\
{} &  Multi JGA & Multi TA & Multi CDTA & Cross JGA & Single JGA &  Multi JGA & Multi TA & Multi CDTA & Cross JGA & Single JGA \\
\midrule
Single+Concat (2x) &       39.5 &     74.1 &        5.6 &      28.9 &       63.6 &       36.3 &     78.3 &        1.3 &      35.2 &       83.3 \\
w/ CANARD          &       34.5 &     70.3 &        6.2 &      26.6 &       59.2 &       30.0 &     71.0 &       13.7 &      30.4 &       64.6 \\
w/ CANARD+MIX      &       39.4 &     73.7 &       16.6 &      30.0 &       63.4 &       39.5 &     78.7 &       18.1 &      39.5 &       82.2 \\
w/ ChatGPT         &       36.3 &     70.6 &       17.0 &      27.4 &       61.1 &       32.3 &     72.7 &       22.7 &      32.1 &       66.2 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_88698/2481759033.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(coqr_test_table.loc['turn'].to_latex())

### Performance vs Aug Data Size & Model Size

In [61]:
aug_data_size_table = pd.DataFrame(index=pd.MultiIndex.from_product([['T5-small', 'T5-base', 'T5-large', 'aggregate'], ['1x', '2x', '4x', '8x', '10%Multi']]), columns=column_names)
aug_data_size_table

                   Multi JGA Multi TA Multi CDTA Cross JGA Single JGA
T5-small  1x             NaN      NaN        NaN       NaN        NaN
          2x             NaN      NaN        NaN       NaN        NaN
          4x             NaN      NaN        NaN       NaN        NaN
          8x             NaN      NaN        NaN       NaN        NaN
          10%Multi       NaN      NaN        NaN       NaN        NaN
T5-base   1x             NaN      NaN        NaN       NaN        NaN
          2x             NaN      NaN        NaN       NaN        NaN
          4x             NaN      NaN        NaN       NaN        NaN
          8x             NaN      NaN        NaN       NaN        NaN
          10%Multi       NaN      NaN        NaN       NaN        NaN
T5-large  1x             NaN      NaN        NaN       NaN        NaN
          2x             NaN      NaN        NaN       NaN        NaN
          4x             NaN      NaN        NaN       NaN        NaN
          8x             NaN      NaN        NaN       NaN        NaN
          10%Multi       NaN      NaN        NaN       NaN        NaN
aggregate 1x             NaN      NaN        NaN       NaN        NaN
          2x             NaN      NaN        NaN       NaN        NaN
          4x             NaN      NaN        NaN       NaN        NaN
          8x             NaN      NaN        NaN       NaN        NaN
          10%Multi       NaN      NaN        NaN       NaN        NaN

In [66]:
table = aug_data_size_table
for i, model_size in enumerate(['T5-small', 'T5-base', 'T5-large']):
    for j, model_type in enumerate([1.0,2.0,4.0,8.0,'10%Multi']):
        index_name = table.index[i*5+j]

        if model_type == '10%Multi':
            res_dir = f'output/sgd/group0/{model_size.lower()}_model0_context100_aug1_x0.1'
        else:
            res_dir = f'output/sgd/group0/{model_size.lower()}_model0_context100_aug7_x{model_type}'

        res_file = f'{res_dir}/test_multi_domain_result.md'
        if not os.path.exists(res_file):
            continue
        df = pd.read_table(res_file, sep='|', index_col=1).dropna(axis=1, how='all').iloc[1:]
        df = df.apply(lambda x: x.str.strip())
        df = df.rename(columns=str.strip).rename(index=str.strip)
        table.loc[index_name, 'Multi JGA'] = df.loc['all', 'JGA']
        table.loc[index_name, 'Multi TA'] = df.loc['all', 'TA']
        table.loc[index_name, 'Multi CDTA'] = df.loc['all', 'CDTA']
        table.loc[index_name, 'Cross JGA'] = df.loc['cross-domain', 'JGA']

        res_file = f'{res_dir}/test_single_domain_result.md'
        df = pd.read_table(res_file, sep='|', index_col=1).dropna(axis=1, how='all').iloc[1:]
        df = df.apply(lambda x: x.str.strip())
        df = df.rename(columns=str.strip).rename(index=str.strip)
        table.loc[index_name, 'Single JGA'] = df.loc['all', 'JGA']
aug_data_size_table.iloc[:15] = aug_data_size_table.iloc[:15].applymap(lambda x: int(round(pd.to_numeric(x, errors='coerce') * 100, 0)))

In [67]:
aug_data_size_table

                   Multi JGA Multi TA Multi CDTA Cross JGA Single JGA
T5-small  1x              42       66         15        43         80
          2x              44       68         15        45         81
          4x              46       70         21        47         84
          8x              45       71         24        46         83
          10%Multi        41       62         27        43         78
T5-base   1x              49       71         15        49         88
          2x              49       73         17        49         88
          4x              49       74         20        50         87
          8x              48       73         22        49         86
          10%Multi        56       75         50        58         89
T5-large  1x              50       73         16        50         90
          2x              50       74         16        50         89
          4x              50       74         17        50         87
          8x              50       73         22        51         85
          10%Multi        59       77         53        61         92
aggregate 1x             NaN      NaN        NaN       NaN        NaN
          2x             NaN      NaN        NaN       NaN        NaN
          4x             NaN      NaN        NaN       NaN        NaN
          8x             NaN      NaN        NaN       NaN        NaN
          10%Multi       NaN      NaN        NaN       NaN        NaN

In [68]:
table = aug_data_size_table
for j, model_type in enumerate([1.0,2.0,4.0,8.0,'10%Multi']):
    for metric in aug_data_size_table.columns:
        index_name = table.index[15+j]
        table.loc[index_name, metric] = '$\rightarrow$'.join([str(table.loc[table.index[i*5+j], metric]) for i in range(3)])
table.loc['aggregate']

,Multi JGA,Multi TA,Multi CDTA,Cross JGA,Single JGA
1x,42$\rightarrow$49$\rightarrow$50,66$\rightarrow$71$\rightarrow$73,15$\rightarrow$15$\rightarrow$16,43$\rightarrow$49$\rightarrow$50,80$\rightarrow$88$\rightarrow$90
2x,44$\rightarrow$49$\rightarrow$50,68$\rightarrow$73$\rightarrow$74,15$\rightarrow$17$\rightarrow$16,45$\rightarrow$49$\rightarrow$50,81$\rightarrow$88$\rightarrow$89
4x,46$\rightarrow$49$\rightarrow$50,70$\rightarrow$74$\rightarrow$74,21$\rightarrow$20$\rightarrow$17,47$\rightarrow$50$\rightarrow$50,84$\rightarrow$87$\rightarrow$87
8x,45$\rightarrow$48$\rightarrow$50,71$\rightarrow$73$\rightarrow$73,24$\rightarrow$22$\rightarrow$22,46$\rightarrow$49$\rightarrow$51,83$\rightarrow$86$\rightarrow$85
10%Multi,41$\rightarrow$56$\rightarrow$59,62$\rightarrow$75$\rightarrow$77,27$\rightarrow$50$\rightarrow$53,43$\rightarrow$58$\rightarrow$61,78$\rightarrow$89$\rightarrow$92

In [69]:
print(aug_data_size_table.loc['aggregate'].to_latex())

\begin{tabular}{llllll}
\toprule
{} &                         Multi JGA &                          Multi TA &                        Multi CDTA &                         Cross JGA &                        Single JGA \\
\midrule
1x       &  42\$\textbackslash rightarrow\$49\$\textbackslash rightarrow\$50 &  66\$\textbackslash rightarrow\$71\$\textbackslash rightarrow\$73 &  15\$\textbackslash rightarrow\$15\$\textbackslash rightarrow\$16 &  43\$\textbackslash rightarrow\$49\$\textbackslash rightarrow\$50 &  80\$\textbackslash rightarrow\$88\$\textbackslash rightarrow\$90 \\
2x       &  44\$\textbackslash rightarrow\$49\$\textbackslash rightarrow\$50 &  68\$\textbackslash rightarrow\$73\$\textbackslash rightarrow\$74 &  15\$\textbackslash rightarrow\$17\$\textbackslash rightarrow\$16 &  45\$\textbackslash rightarrow\$49\$\textbackslash rightarrow\$50 &  81\$\textbackslash rightarrow\$88\$\textbackslash rightarrow\$89 \\
4x       &  46\$\textbackslash rightarrow\$49\$\textbackslash rightarrow\$50 &  70\$\textbackslash rightarrow\$74\$\textbackslash rightarrow\$74 &  21\$\textbackslash rightarrow\$20\$\textbackslash rightarrow\$17 &  47\$\textbackslash rightarrow\$50\$\textbackslash rightarrow\$50 &  84\$\textbackslash rightarrow\$87\$\textbackslash rightarrow\$87 \\
8x       &  45\$\textbackslash rightarrow\$48\$\textbackslash rightarrow\$50 &  71\$\textbackslash rightarrow\$73\$\textbackslash rightarrow\$73 &  24\$\textbackslash rightarrow\$22\$\textbackslash rightarrow\$22 &  46\$\textbackslash rightarrow\$49\$\textbackslash rightarrow\$51 &  83\$\textbackslash rightarrow\$86\$\textbackslash rightarrow\$85 \\
10\%Multi &  41\$\textbackslash rightarrow\$56\$\textbackslash rightarrow\$59 &  62\$\textbackslash rightarrow\$75\$\textbackslash rightarrow\$77 &  27\$\textbackslash rightarrow\$50\$\textbackslash rightarrow\$53 &  43\$\textbackslash rightarrow\$58\$\textbackslash rightarrow\$61 &  78\$\textbackslash rightarrow\$89\$\textbackslash rightarrow\$92 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_67659/3137222915.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(aug_data_size_table.loc['aggregate'].to_latex())

### Domain expand

In [67]:
domain_expand_table = pd.DataFrame(index=['10Multi', '10Multi+syn8x', '15Multi', '15Multi+syn8x', '19Multi', 'Mix (2x)', 'Mix (8x)'], columns=pd.MultiIndex.from_product([['group2', 'group1', 'group0'], ['Multi JGA', 'Multi TA', 'Multi CDTA']]))
domain_expand_table

                 group2                        group1                      \
              Multi JGA Multi TA Multi CDTA Multi JGA Multi TA Multi CDTA
10Multi             NaN      NaN        NaN       NaN      NaN        NaN
10Multi+syn8x       NaN      NaN        NaN       NaN      NaN        NaN
15Multi             NaN      NaN        NaN       NaN      NaN        NaN
15Multi+syn8x       NaN      NaN        NaN       NaN      NaN        NaN
19Multi             NaN      NaN        NaN       NaN      NaN        NaN
Mix (2x)            NaN      NaN        NaN       NaN      NaN        NaN
Mix (8x)            NaN      NaN        NaN       NaN      NaN        NaN

                 group0
              Multi JGA Multi TA Multi CDTA
10Multi             NaN      NaN        NaN
10Multi+syn8x       NaN      NaN        NaN
15Multi             NaN      NaN        NaN
15Multi+syn8x       NaN      NaN        NaN
19Multi             NaN      NaN        NaN
Mix (2x)            NaN      NaN        NaN
Mix (8x)            NaN      NaN        NaN

In [70]:
table = domain_expand_table
for i, (group, aug_type, aug_times, prefix) in enumerate([(2, 1, 0.223, 'all_single_'), (2, 1, 0.223, 'all_single_syn8x_'), 
                                                          (1, 1, 0.133, 'all_single_'), (1, 1, 0.133, 'all_single_syn8x_'),
                                                          (0, 1, 0.1, ''), (0, 7, 2.0, ''), (0, 7, 8.0, '')]):
    index_name = table.index[i]
    res_dir = f'output/sgd/group{group}/{prefix}t5-large_model0_context100_aug{aug_type}_x{aug_times}'
    
    res_file = f'{res_dir}/test_multi_domain_result.md'
    df = pd.read_table(res_file, sep='|', index_col=1).dropna(axis=1, how='all').iloc[1:]
    df = df.apply(lambda x: x.str.strip())
    df = df.rename(columns=str.strip).rename(index=str.strip)
    for dataset in ['group2', 'group1', 'group0']:
        table.loc[index_name, (dataset, 'Multi JGA')] = df.loc[dataset, 'JGA']
        table.loc[index_name, (dataset, 'Multi TA')] = df.loc[dataset, 'TA']
        table.loc[index_name, (dataset, 'Multi CDTA')] = df.loc[dataset, 'CDTA']

    # res_file = f'{res_dir}/test_single_domain_result.md'
    # df = pd.read_table(res_file, sep='|', index_col=1).dropna(axis=1, how='all').iloc[1:]
    # df = df.apply(lambda x: x.str.strip())
    # df = df.rename(columns=str.strip).rename(index=str.strip)
    # for dataset in ['group2', 'group1', 'group0']:
    #     table.loc[index_name, (dataset, 'Single JGA')] = df.loc[dataset, 'JGA']
domain_expand_table = domain_expand_table.applymap(lambda x: round(pd.to_numeric(x, errors='coerce') * 100, 1))

In [71]:
domain_expand_table

                 group2                        group1                      \
              Multi JGA Multi TA Multi CDTA Multi JGA Multi TA Multi CDTA
10Multi            74.0     87.5       75.2      40.6     67.9        6.4
10Multi+syn8x      74.2     89.2       68.6      54.3     79.0       25.0
15Multi            65.5     82.7       65.3      64.3     82.4       58.8
15Multi+syn8x      70.5     86.6       57.9      61.6     82.5       42.7
19Multi            56.2     75.3       61.6      65.4     82.4       63.1
Mix (2x)           49.6     74.0       28.9      56.0     78.0       13.3
Mix (8x)           50.8     75.3       36.8      55.6     77.5       18.4

                 group0
              Multi JGA Multi TA Multi CDTA
10Multi            34.9     58.1        3.0
10Multi+syn8x      48.5     73.7       26.2
15Multi            38.8     61.2       12.3
15Multi+syn8x      47.0     71.5       21.1
19Multi            56.8     74.4       47.5
Mix (2x)           47.4     71.4       14.6
Mix (8x)           46.8     70.9       20.3

In [72]:
print(domain_expand_table.to_latex())

\begin{tabular}{lrrrrrrrrr}
\toprule
{} & \multicolumn{3}{l}{group2} & \multicolumn{3}{l}{group1} & \multicolumn{3}{l}{group0} \\
{} & Multi JGA & Multi TA & Multi CDTA & Multi JGA & Multi TA & Multi CDTA & Multi JGA & Multi TA & Multi CDTA \\
\midrule
10Multi       &      74.0 &     87.5 &       75.2 &      40.6 &     67.9 &        6.4 &      34.9 &     58.1 &        3.0 \\
10Multi+syn8x &      74.2 &     89.2 &       68.6 &      54.3 &     79.0 &       25.0 &      48.5 &     73.7 &       26.2 \\
15Multi       &      65.5 &     82.7 &       65.3 &      64.3 &     82.4 &       58.8 &      38.8 &     61.2 &       12.3 \\
15Multi+syn8x &      70.5 &     86.6 &       57.9 &      61.6 &     82.5 &       42.7 &      47.0 &     71.5 &       21.1 \\
19Multi       &      56.2 &     75.3 &       61.6 &      65.4 &     82.4 &       63.1 &      56.8 &     74.4 &       47.5 \\
Mix (2x)      &      49.6 &     74.0 &       28.9 &      56.0 &     78.0 &       13.3 &      47.4 &     71.4 &       14.6 \\
Mix (8x)      &      50.8 &     75.3 &       36.8 &      55.6 &     77.5 &       18.4 &      46.8 &     70.9 &       20.3 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_76944/705736087.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(domain_expand_table.to_latex())

### domain number in a dialog

In [88]:
aug_types = [(0, 0.0), (2, 2.0), (3, 2.0), (2, 2.0), (3, 2.0), (4, 2.0), (7, 2.0), (9, 2.0), (1, 0.1), (1, 0.2)]
index_names = ['Single', 'Single+Concat', 'Single+ConcatN', 'Single+Concat+CoQR-M', 'Single+ConcatN+CoQR-MixN', 'Single+ConcatRel (2x)', 'w/ Mix', 'w/ MixN', '90%Single+10%Multi', '80%Single+20%Multi']
column_names = ['Multi JGA', 'Multi TA', 'Multi CDTA']
datasets = ['multiwoz21', 'sgd/group0']

In [89]:
domain_cnt_table = pd.DataFrame(index=index_names, columns=pd.MultiIndex.from_product([datasets[1:2], column_names, [f'domain_{i}' for i in range(1,5)]]))
domain_cnt_table

                         sgd/group0                                      \
                          Multi JGA                            Multi TA
                           domain_1 domain_2 domain_3 domain_4 domain_1
Single                          NaN      NaN      NaN      NaN      NaN
Single+Concat                   NaN      NaN      NaN      NaN      NaN
Single+ConcatN                  NaN      NaN      NaN      NaN      NaN
Single+Concat+CoQR-M            NaN      NaN      NaN      NaN      NaN
Single+ConcatN+CoQR-MixN        NaN      NaN      NaN      NaN      NaN
Single+ConcatRel (2x)           NaN      NaN      NaN      NaN      NaN
w/ Mix                          NaN      NaN      NaN      NaN      NaN
w/ MixN                         NaN      NaN      NaN      NaN      NaN
90%Single+10%Multi              NaN      NaN      NaN      NaN      NaN
80%Single+20%Multi              NaN      NaN      NaN      NaN      NaN

                                                                         \
                                                    Multi CDTA
                         domain_2 domain_3 domain_4   domain_1 domain_2
Single                        NaN      NaN      NaN        NaN      NaN
Single+Concat                 NaN      NaN      NaN        NaN      NaN
Single+ConcatN                NaN      NaN      NaN        NaN      NaN
Single+Concat+CoQR-M          NaN      NaN      NaN        NaN      NaN
Single+ConcatN+CoQR-MixN      NaN      NaN      NaN        NaN      NaN
Single+ConcatRel (2x)         NaN      NaN      NaN        NaN      NaN
w/ Mix                        NaN      NaN      NaN        NaN      NaN
w/ MixN                       NaN      NaN      NaN        NaN      NaN
90%Single+10%Multi            NaN      NaN      NaN        NaN      NaN
80%Single+20%Multi            NaN      NaN      NaN        NaN      NaN



                         domain_3 domain_4
Single                        NaN      NaN
Single+Concat                 NaN      NaN
Single+ConcatN                NaN      NaN
Single+Concat+CoQR-M          NaN      NaN
Single+ConcatN+CoQR-MixN      NaN      NaN
Single+ConcatRel (2x)         NaN      NaN
w/ Mix                        NaN      NaN
w/ MixN                       NaN      NaN
90%Single+10%Multi            NaN      NaN
80%Single+20%Multi            NaN      NaN

In [91]:
table = domain_cnt_table
for i, (aug_type, aug_times) in enumerate(aug_types):
    index_name = index_names[i]
    for dataset in datasets[1:2]:
        res_dir = f'output/{dataset}/t5-large_model0_context100_aug{aug_type}_x{aug_times}'
        
        res_file = f'{res_dir}/test_multi_domain_result.md'
        if i == 3:
            res_file = f'{res_dir}/test_multi_domain_coqr_canard_mix_x2.0_result.md'
        elif i == 4:
            res_file = f'{res_dir}/test_multi_domain_coqr_canard_aug9_x2.0_result.md'
        df = pd.read_table(res_file, sep='|', index_col=1).dropna(axis=1, how='all').iloc[1:]
        df = df.apply(lambda x: x.str.strip())
        df = df.rename(columns=str.strip).rename(index=str.strip)
        for dom_cnt in range(1, 5):
            table.loc[index_name, (dataset, 'Multi JGA', f'domain_{dom_cnt}')] = df.loc[f'domain_{dom_cnt}', 'JGA']
            table.loc[index_name, (dataset, 'Multi TA', f'domain_{dom_cnt}')] = df.loc[f'domain_{dom_cnt}', 'TA']
            table.loc[index_name, (dataset, 'Multi CDTA', f'domain_{dom_cnt}')] = df.loc[f'domain_{dom_cnt}', 'CDTA']

domain_cnt_table = domain_cnt_table.applymap(lambda x: round(pd.to_numeric(x, errors='coerce') * 100, 1))

In [92]:
domain_cnt_table = domain_cnt_table.drop(columns=[('sgd/group0', 'Multi CDTA', 'domain_1')])

In [93]:
domain_cnt_table.loc[:,'sgd/group0']

                         Multi JGA                            Multi TA  \
                          domain_1 domain_2 domain_3 domain_4 domain_1
Single                        87.2      0.1      0.0      0.0     92.3
Single+Concat                 87.6     24.6      0.0      0.0     92.7
Single+ConcatN                87.9     22.0     10.3      0.0     93.3
Single+Concat+CoQR-M          86.2     31.1      0.1      0.0     91.3
Single+ConcatN+CoQR-MixN      86.8     27.4     11.7      3.1     92.4
Single+ConcatRel (2x)         87.2     27.0      0.0      0.0     92.8
w/ Mix                        86.4     33.6      0.0      0.0     92.0
w/ MixN                       86.9     34.2     18.4      3.8     92.5
90%Single+10%Multi            88.1     45.6     22.4      2.3     92.3
80%Single+20%Multi            88.5     56.4     34.2      8.8     93.0

                                                    Multi CDTA           \
                         domain_2 domain_3 domain_4   domain_2 domain_3
Single                       43.6     41.3     39.6        2.3      0.3
Single+Concat                57.6     48.3     18.5        1.9      1.4
Single+ConcatN               60.2     53.8     33.8        2.0      1.4
Single+Concat+CoQR-M         62.1     48.8     19.6       21.9      2.0
Single+ConcatN+CoQR-MixN     64.7     54.3     42.7       16.3      3.1
Single+ConcatRel (2x)        59.8     50.0     28.8        2.3      0.3
w/ Mix                       64.9     51.6     33.5       19.3      2.7
w/ MixN                      67.3     59.3     52.3       21.7      6.5
90%Single+10%Multi           69.7     57.2     39.6       58.2     34.4
80%Single+20%Multi           79.3     66.8     50.4       68.2     49.3


                         domain_4
Single                        0.0
Single+Concat                 1.9
Single+ConcatN                0.0
Single+Concat+CoQR-M          0.0
Single+ConcatN+CoQR-MixN     18.5
Single+ConcatRel (2x)         3.7
w/ Mix                        0.0
w/ MixN                      25.9
90%Single+10%Multi           13.0
80%Single+20%Multi           44.4

In [94]:
print(domain_cnt_table.loc[:,'sgd/group0'].to_latex())

\begin{tabular}{lrrrrrrrrrrr}
\toprule
{} & \multicolumn{4}{l}{Multi JGA} & \multicolumn{4}{l}{Multi TA} & \multicolumn{3}{l}{Multi CDTA} \\
{} &  domain\_1 & domain\_2 & domain\_3 & domain\_4 & domain\_1 & domain\_2 & domain\_3 & domain\_4 &   domain\_2 & domain\_3 & domain\_4 \\
\midrule
Single                   &      87.2 &      0.1 &      0.0 &      0.0 &     92.3 &     43.6 &     41.3 &     39.6 &        2.3 &      0.3 &      0.0 \\
Single+Concat            &      87.6 &     24.6 &      0.0 &      0.0 &     92.7 &     57.6 &     48.3 &     18.5 &        1.9 &      1.4 &      1.9 \\
Single+ConcatN           &      87.9 &     22.0 &     10.3 &      0.0 &     93.3 &     60.2 &     53.8 &     33.8 &        2.0 &      1.4 &      0.0 \\
Single+Concat+CoQR-M     &      86.2 &     31.1 &      0.1 &      0.0 &     91.3 &     62.1 &     48.8 &     19.6 &       21.9 &      2.0 &      0.0 \\
Single+ConcatN+CoQR-MixN &      86.8 &     27.4 &     11.7 &      3.1 &     92.4 &     64.7 &     54.3 &     42.7 &       16.3 &      3.1 &     18.5 \\
Single+ConcatRel (2x)    &      87.2 &     27.0 &      0.0 &      0.0 &     92.8 &     59.8 &     50.0 &     28.8 &        2.3 &      0.3 &      3.7 \\
w/ Mix                   &      86.4 &     33.6 &      0.0 &      0.0 &     92.0 &     64.9 &     51.6 &     33.5 &       19.3 &      2.7 &      0.0 \\
w/ MixN                  &      86.9 &     34.2 &     18.4 &      3.8 &     92.5 &     67.3 &     59.3 &     52.3 &       21.7 &      6.5 &     25.9 \\
90\%Single+10\%Multi       &      88.1 &     45.6 &     22.4 &      2.3 &     92.3 &     69.7 &     57.2 &     39.6 &       58.2 &     34.4 &     13.0 \\
80\%Single+20\%Multi       &      88.5 &     56.4 &     34.2 &      8.8 &     93.0 &     79.3 &     66.8 &     50.4 &       68.2 &     49.3 &     44.4 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_88698/3465050992.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(domain_cnt_table.loc[:,'sgd/group0'].to_latex())